td {
  text-align: left !important;
}
.content-wrapper {
  background: #fff;
}

.logo {
  height: 38px;
  width: 38px;
  font-size: 15px;
  color: red;
  border: 1px solid red;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
}

.email-header {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;

  a {
    color: red;
  }
}

.email-footer {
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.email-header__logo-section {
  color: red;
}
